<% include ../../../app/views/head %>
<div id="app"></div>

<!-- Production Scripts -->
<!--<script src="/scripts/build/wack_a_mole.js" type="text/javascript"></script>-->

<!-- Development Scripts -->
<script src="scripts/Constants/IMAGES.js" type="text/javascript"></script>
<script src="scripts/Store.js" type="text/javascript"></script>

<!-- Action Constants -->
<script src="scripts/Constants/VIEW_ACTIONS.js" type="text/javascript"></script>
<script src="scripts/Constants/IMAGE_ACTIONS.js" type="text/javascript"></script>
<script src="scripts/Constants/STORY_ACTIONS.js" type="text/javascript"></script>
<!-- Action Creators -->
<script src="scripts/Actions/ViewActions.js" type="text/javascript"></script>
<script src="scripts/Actions/ImageActions.js" type="text/javascript"></script>
<script src="scripts/Actions/StoryActions.js" type="text/javascript"></script>

<!-- Stores -->
<script src="scripts/Stores/ImageStore.js" type="text/javascript"></script>
<script src="scripts/Stores/StoryStore.js" type="text/javascript"></script>
<script src="scripts/Stores/StoryStatsStore.js" type="text/javascript"></script>

<!-- Views-->
<script src="scripts/Views/StoriesSubmitButton.jsx" type="text/jsx"></script>
<script src="scripts/Views/WritingTaskInstructions.jsx" type="text/jsx"></script>
<script src="scripts/Views/StoryEdit.jsx" type="text/jsx"></script>
<script src="scripts/Views/StoryStatsView.jsx" type="text/jsx"></script>
<script src="scripts/Views/ImageView.jsx" type="text/jsx"></script>
<script src="scripts/Views/ImageList.jsx" type="text/jsx"></script>

<script src="scripts/Constants/VIEWS.js" type="text/javascript"></script>
<script src="scripts/Stores/ViewStore.js" type="text/javascript"></script>
<script src="scripts/Views/ViewController.jsx" type="text/jsx"></script>

<% include ../../../app/views/tail %>

