<% include ../../../app/views/head %>
<div id="app"></div>

<!-- Production Scripts -->
<!--<script src="/scripts/build/wack_a_mole.js" type="text/javascript"></script>-->

<!-- Development Scripts -->
<script src="scripts/Constants/IMAGES.jsx" type="text/jsx"></script>
<script src="scripts/Store.jsx" type="text/jsx"></script>

<!-- Action Constants -->
<script src="scripts/Constants/VIEW_ACTIONS.jsx" type="text/jsx"></script>
<script src="scripts/Constants/IMAGE_ACTIONS.jsx" type="text/jsx"></script>
<script src="scripts/Constants/STORY_ACTIONS.jsx" type="text/jsx"></script>
<!-- Action Creators -->
<script src="scripts/Actions/ViewActions.jsx" type="text/jsx"></script>
<script src="scripts/Actions/ImageActions.jsx" type="text/jsx"></script>
<script src="scripts/Actions/StoryActions.jsx" type="text/jsx"></script>

<!-- Stores -->
<script src="scripts/Stores/ImageStore.jsx" type="text/jsx"></script>
<script src="scripts/Stores/StoryStore.jsx" type="text/jsx"></script>
<script src="scripts/Stores/StoryStatsStore.jsx" type="text/jsx"></script>

<!-- Views-->
<script src="scripts/Views/StoriesSubmitButton.jsx" type="text/jsx"></script>
<script src="scripts/Views/StoryEdit.jsx" type="text/jsx"></script>
<script src="scripts/Views/StoryStatsView.jsx" type="text/jsx"></script>
<script src="scripts/Views/ImageView.jsx" type="text/jsx"></script>
<script src="scripts/Views/ImageList.jsx" type="text/jsx"></script>

<script src="scripts/Constants/VIEWS.jsx" type="text/jsx"></script>
<script src="scripts/Stores/ViewStore.jsx" type="text/jsx"></script>
<script src="scripts/Views/ViewController.jsx" type="text/jsx"></script>

<% include ../../../app/views/tail %>

